root { 
    display: block;
}

body {
    font-family: serif;
    padding: 0px;
    margin: 0px;
    background-color: #16171A;
}

button, input, select, textarea { font-family: inherit; }

a {
    color: #3f70b9;
    text-decoration: none;
}

a:hover {
}

h1 {
   /* background: linear-gradient(#C390D4, #8F4BA6);*/
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #25272B;
    display: inline-block;
    padding: 5px;
    padding-left: 72px;
    padding-right: 72px;
    color: #ffffff;
    text-shadow: 5px 5px 10px rgba(200,200,200,0.5);
}

iframe {
    border: 0px;
}


button {
    background: linear-gradient(#5799d4, #3f70b9);
    color: #ffffff;
    border: 1px solid #3f70b9;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

button:hover {
    background: #5799d4;
}

button:focus {
    background: #3f70b9;
}

input[type=text] {
}

button.dark {
    background: linear-gradient(#222222, #111111);
    border-color: #555555;
    color: #888888;
}



#tooltip {
    display: none;
    position: absolute;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    z-index: 999;
    box-shadow: 0px 0px 5px 1px #777777;
    word-wrap: break-word; 
}

.tooltip_text {
    display: none;
}

#leftside {
    float: left;
    background-color: #25272B;
    padding-right: 20px;
    border: 1px solid white;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    box-shadow: 5px 0px 5px rgba(200,200,200,0.1);
}




